# Importing data from the web (Part 1)

More and more of the information that data scientists are using resides on the web. Importing this data into R requires an understanding of the protocols used on the web. 

## HTTP

### Import flat files from the web

In [1]:
install.packages("readr")

package 'readr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\user\AppData\Local\Temp\Rtmps5vwUU\downloaded_packages

In [2]:
# Load the readr package
library(readr)

# Import the csv file: pools
url_csv <- "http://s3.amazonaws.com/assets.datacamp.com/production/course_1478/datasets/swimming_pools.csv"
pools = read_csv(url_csv)

# Import the txt file: potatoes
url_delim <- "http://s3.amazonaws.com/assets.datacamp.com/production/course_1478/datasets/potatoes.txt"
potatoes = read_tsv(url_delim)

# Print pools and potatoes
pools
potatoes

Warning message:
"package 'readr' was built under R version 3.6.3"`curl` package not installed, falling back to using `url()`
Parsed with column specification:
cols(
  Name = col_character(),
  Address = col_character(),
  Latitude = col_double(),
  Longitude = col_double()
)
`curl` package not installed, falling back to using `url()`
Parsed with column specification:
cols(
  area = col_double(),
  temp = col_double(),
  size = col_double(),
  storage = col_double(),
  method = col_double(),
  texture = col_double(),
  flavor = col_double(),
  moistness = col_double()
)

   Name
1  Acacia Ridge Leisure Centre
2  Bellbowrie Pool
3  Carole Park
4  Centenary Pool (inner City)
5  Chermside Pool
6  Colmslie Pool (Morningside)
7  Spring Hill Baths (inner City)
8  Dunlop Park Pool (Corinda)
9  Fortitude Valley Pool
10 Hibiscus Sports Complex (upper MtGravatt)
11 Ithaca Pool ( Paddington)
12 Jindalee Pool
13 Manly Pool
14 Mt Gravatt East Aquatic Centre
15 Musgrave Park Pool (South Brisbane)
16 Newmarket Pool
17 Runcorn Pool
18 Sandgate Pool
19 Langlands Parks Pool (Stones Corner)
20 Yeronga Park Pool
   Address                                     Latitude  Longitude
1  1391 Beaudesert Road, Acacia Ridge          -27.58616 153.0264
2  Sugarwood Street, Bellbowrie                -27.56547 152.8911
3  Cnr Boundary Road and Waterford Road Wacol  -27.60744 152.9315
4  400 Gregory Terrace, Spring Hill            -27.45537 153.0251
5  375 Hamilton Road, Chermside                -27.38583 153.0351
6  400 Lytton Road, Morningside                -27.45516 153.0789
7  14 Torrington Street, Springhill            -27.45960 153.0215
8  794 Oxley Road, Corinda                     -27.54652 152.9806
9  432 Wickham Street, Fortitude Valley        -27.45390 153.0368
10 90 Klumpp Road, Upper Mount Gravatt         -27.55183 153.0735
11 131 Caxton Street, Paddington               -27.46226 153.0103
12 11 Yallambee Road, Jindalee                 -27.53236 152.9427
13 1 Fairlead Crescent, Manly                  -27.45228 153.1874
14 Cnr wecker Road and Newnham Road, Mansfield -27.53214 153.0943
15 100 Edmonstone Street, South Brisbane       -27.47978 153.0168
16 71 Alderson Stret, Newmarket                -27.42968 153.0062
17 37 Bonemill Road, Runcorn                   -27.59156 153.0764
18 231 Flinders Parade, Sandgate               -27.31196 153.0691
19 5 Panitya Street, Stones Corner             -27.49769 153.0487
20 81 School Road, Yeronga                     -27.52053 153.0185

    area temp size storage method texture flavor moistness
1   1    1    1    1       1      2.9     3.2    3.0
2   1    1    1    1       2      2.3     2.5    2.6
3   1    1    1    1       3      2.5     2.8    2.8
4   1    1    1    1       4      2.1     2.9    2.4
5   1    1    1    1       5      1.9     2.8    2.2
6   1    1    1    2       1      1.8     3.0    1.7
7   1    1    1    2       2      2.6     3.1    2.4
8   1    1    1    2       3      3.0     3.0    2.9
9   1    1    1    2       4      2.2     3.2    2.5
10  1    1    1    2       5      2.0     2.8    1.9
11  1    1    1    3       1      1.8     2.6    1.5
12  1    1    1    3       2      2.0     2.8    1.9
13  1    1    1    3       3      2.6     2.6    2.6
14  1    1    1    3       4      2.1     3.2    2.1
15  1    1    1    3       5      2.5     3.0    2.1
16  1    1    1    4       1      2.6     3.1    2.4
17  1    1    1    4       2      2.7     2.9    2.4
18  1    1    1    4       3      2.2     3.1    2.3
19  1    1    1    4       4      3.1     3.4    2.7
20  1    1    1    4       5      3.0     2.6    2.7
21  1    1    2    1       1      3.1     3.0    2.8
22  1    1    2    1       2      2.7     2.8    2.7
23  1    1    2    1       3      2.4     3.0    2.9
24  1    1    2    1       4      2.2     2.9    2.3
25  1    1    2    1       5      1.9     2.9    2.0
26  1    1    2    2       1      1.8     2.6    1.8
27  1    1    2    2       2      2.2     2.9    2.1
28  1    1    2    2       3      2.8     3.2    2.8
29  1    1    2    2       4      2.3     3.2    2.4
30  1    1    2    2       5      2.0     3.0    2.0
... ...  ...  ...  ...     ...    ...     ...    ...
131 2    2    1    3       1      2.8     2.8    2.6
132 2    2    1    3       2      3.5     2.8    3.0
133 2    2    1    3       3      2.5     3.2    2.3
134 2    2    1    3       4      3.3     3.0    2.7
135 2    2    1    3       5      3.5     2.9    2.9
136 2    2    1    4       1      3.2     3.4    2.5
137 2    2    1    4       2      3.3     2.8    2.8
138 2    2    1    4       3      3.0     3.0    2.8
139 2    2    1    4       4      3.5     3.2    3.1
140 2    2    1    4       5      3.4     3.0    2.8
141 2    2    2    1       1      2.7     2.5    2.5
142 2    2    2    1       2      2.5     2.7    2.3
143 2    2    2    1       3      3.2     2.7    3.0
144 2    2    2    1       4      2.4     2.7    2.5
145 2    2    2    1       5      2.7     2.1    2.3
146 2    2    2    2       1      2.2     2.7    2.3
147 2    2    2    2       2      3.1     2.9    2.6
148 2    2    2    2       3      2.2     2.8    3.1
149 2    2    2    2       4      2.9     3.0    2.7
150 2    2    2    2       5      2.8     2.7    2.6
151 2    2    2    3       1      2.5     3.2    2.3
152 2    2    2    3       2      2.9     3.3    2.7
153 2    2    2    3       3      2.5     3.1    2.5
154 2    2    2    3       4      3.0     2.9    2.5
155 2    2    2    3       5      2.9     3.1    3.1
156 2    2    2    4       1      2.7     3.3    2.6
157 2    2    2    4       2      2.6     2.8    2.3
158 2    2    2    4       3      2.5     3.1    2.6
159 2    2    2    4       4      3.4     3.3    3.0
160 2    2    2    4       5      2.5     2.8    2.3

## Secure importing

In [3]:
# https URL to the swimming_pools csv file.
url_csv <- "https://s3.amazonaws.com/assets.datacamp.com/production/course_1478/datasets/swimming_pools.csv"

# Import the file using read.csv(): pools1
pools1 = read.csv(url_csv)

# Load the readr package
library(readr)

# Import the file using read_csv(): pools2
pools2=read_csv(url_csv)

# Print the structure of pools1 and pools2
str(pools1)
str(pools2)

`curl` package not installed, falling back to using `url()`
Parsed with column specification:
cols(
  Name = col_character(),
  Address = col_character(),
  Latitude = col_double(),
  Longitude = col_double()
)

'data.frame':	20 obs. of  4 variables:
 $ Name     : Factor w/ 20 levels "Acacia Ridge Leisure Centre",..: 1 2 3 4 5 6 19 7 8 9 ...
 $ Address  : Factor w/ 20 levels "1 Fairlead Crescent, Manly",..: 5 20 18 10 9 11 6 15 12 17 ...
 $ Latitude : num  -27.6 -27.6 -27.6 -27.5 -27.4 ...
 $ Longitude: num  153 153 153 153 153 ...
tibble [20 x 4] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Name     : chr [1:20] "Acacia Ridge Leisure Centre" "Bellbowrie Pool" "Carole Park" "Centenary Pool (inner City)" ...
 $ Address  : chr [1:20] "1391 Beaudesert Road, Acacia Ridge" "Sugarwood Street, Bellbowrie" "Cnr Boundary Road and Waterford Road Wacol" "400 Gregory Terrace, Spring Hill" ...
 $ Latitude : num [1:20] -27.6 -27.6 -27.6 -27.5 -27.4 ...
 $ Longitude: num [1:20] 153 153 153 153 153 ...
 - attr(*, "spec")=
  .. cols(
  ..   Name = col_character(),
  ..   Address = col_character(),
  ..   Latitude = col_double(),
  ..   Longitude = col_double()
  .. )

## Downloading any file, secure or not

In [4]:
# https URL to the wine RData file.
url_rdata <- "https://s3.amazonaws.com/assets.datacamp.com/production/course_1478/datasets/wine.RData"

# Download the wine file to your working directory
download.file(url_rdata, "wine_local.RData")

# Load the wine data into your workspace using load()
load("wine_local.RData")

# Print out the summary of the wine data
summary(wine)

    Alcohol        Malic acid        Ash        Alcalinity of ash
 Min.   :11.03   Min.   :0.74   Min.   :1.360   Min.   :10.60
 1st Qu.:12.36   1st Qu.:1.60   1st Qu.:2.210   1st Qu.:17.20
 Median :13.05   Median :1.87   Median :2.360   Median :19.50
 Mean   :12.99   Mean   :2.34   Mean   :2.366   Mean   :19.52
 3rd Qu.:13.67   3rd Qu.:3.10   3rd Qu.:2.560   3rd Qu.:21.50
 Max.   :14.83   Max.   :5.80   Max.   :3.230   Max.   :30.00
   Magnesium      Total phenols     Flavanoids    Nonflavanoid phenols
 Min.   : 70.00   Min.   :0.980   Min.   :0.340   Min.   :0.1300
 1st Qu.: 88.00   1st Qu.:1.740   1st Qu.:1.200   1st Qu.:0.2700
 Median : 98.00   Median :2.350   Median :2.130   Median :0.3400
 Mean   : 99.59   Mean   :2.292   Mean   :2.023   Mean   :0.3623
 3rd Qu.:107.00   3rd Qu.:2.800   3rd Qu.:2.860   3rd Qu.:0.4400
 Max.   :162.00   Max.   :3.880   Max.   :5.080   Max.   :0.6600
 Proanthocyanins Color intensity       Hue           Proline
 Min.   :0.410   Min.   : 1.280   Min.   :1.270   Min.   : 278.0
 1st Qu.:1.250   1st Qu.: 3.210   1st Qu.:1.930   1st Qu.: 500.0
 Median :1.550   Median : 4.680   Median :2.780   Median : 672.0
 Mean   :1.587   Mean   : 5.055   Mean   :2.604   Mean   : 745.1
 3rd Qu.:1.950   3rd Qu.: 6.200   3rd Qu.:3.170   3rd Qu.: 985.0
 Max.   :3.580   Max.   :13.000   Max.   :4.000   Max.   :1680.0

In [5]:
install.packages("httr")

also installing the dependencies 'curl', 'mime', 'openssl'

package 'curl' successfully unpacked and MD5 sums checked
package 'mime' successfully unpacked and MD5 sums checked
package 'openssl' successfully unpacked and MD5 sums checked
package 'httr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\user\AppData\Local\Temp\Rtmps5vwUU\downloaded_packages

In [6]:
library(httr)
resp = GET("http://www.example.com")
resp
raw_content = content(resp, as="raw")
head(raw_content)

Warning message:
"package 'httr' was built under R version 3.6.3"

Response [http://www.example.com]
  Date: 2020-06-08 15:55
  Status: 200
  Content-Type: text/html; charset=UTF-8
  Size: 1.26 kB
<!doctype html>
<html>
<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
    body {
...

[1] 3c 21 64 6f 63 74

## HTTP? httr! (2)

In [7]:
resp = GET("http://www.omdbapi.com/?apikey=72bc447a&t=Annie+Hall&y=&plot=short&r=json")
resp
content(resp, as="text")
content(resp)

Response [http://www.omdbapi.com/?apikey=72bc447a&t=Annie+Hall&y=&plot=short&r=json]
  Date: 2020-06-08 15:55
  Status: 200
  Content-Type: application/json; charset=utf-8
  Size: 910 B

[1] "{\"Title\":\"Annie Hall\",\"Year\":\"1977\",\"Rated\":\"PG\",\"Released\":\"20 Apr 1977\",\"Runtime\":\"93 min\",\"Genre\":\"Comedy, Romance\",\"Director\":\"Woody Allen\",\"Writer\":\"Woody Allen, Marshall Brickman\",\"Actors\":\"Woody Allen, Diane Keaton, Tony Roberts, Carol Kane\",\"Plot\":\"Neurotic New York comedian Alvy Singer falls in love with the ditzy Annie Hall.\",\"Language\":\"English, German\",\"Country\":\"USA\",\"Awards\":\"Won 4 Oscars. Another 26 wins & 8 nominations.\",\"Poster\":\"https://m.media-amazon.com/images/M/MV5BZDg1OGQ4YzgtM2Y2NS00NjA3LWFjYTctMDRlMDI3NWE1OTUyXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_SX300.jpg\",\"Ratings\":[{\"Source\":\"Internet Movie Database\",\"Value\":\"8.0/10\"},{\"Source\":\"Rotten Tomatoes\",\"Value\":\"98%\"},{\"Source\":\"Metacritic\",\"Value\":\"92/100\"}],\"Metascore\":\"92\",\"imdbRating\":\"8.0\",\"imdbVotes\":\"245,897\",\"imdbID\":\"tt0075686\",\"Type\":\"movie\",\"DVD\":\"N/A\",\"BoxOffice\":\"N/A\",\"Production\":\"N/A\",\"Website\":\"N/A\",\"Response\":\"True\"}"

$Title
[1] "Annie Hall"

$Year
[1] "1977"

$Rated
[1] "PG"

$Released
[1] "20 Apr 1977"

$Runtime
[1] "93 min"

$Genre
[1] "Comedy, Romance"

$Director
[1] "Woody Allen"

$Writer
[1] "Woody Allen, Marshall Brickman"

$Actors
[1] "Woody Allen, Diane Keaton, Tony Roberts, Carol Kane"

$Plot
[1] "Neurotic New York comedian Alvy Singer falls in love with the ditzy Annie Hall."

$Language
[1] "English, German"

$Country
[1] "USA"

$Awards
[1] "Won 4 Oscars. Another 26 wins & 8 nominations."

$Poster
[1] "https://m.media-amazon.com/images/M/MV5BZDg1OGQ4YzgtM2Y2NS00NjA3LWFjYTctMDRlMDI3NWE1OTUyXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_SX300.jpg"

$Ratings
$Ratings[[1]]
$Ratings[[1]]$Source
[1] "Internet Movie Database"

$Ratings[[1]]$Value
[1] "8.0/10"


$Ratings[[2]]
$Ratings[[2]]$Source
[1] "Rotten Tomatoes"

$Ratings[[2]]$Value
[1] "98%"


$Ratings[[3]]
$Ratings[[3]]$Source
[1] "Metacritic"

$Ratings[[3]]$Value
[1] "92/100"



$Metascore
[1] "92"

$imdbRating
[1] "8.0"

$imdbVotes
[1] "245,897"

$imdbID
[1] "tt0075686"

$Type
[1] "movie"

$DVD
[1] "N/A"

$BoxOffice
[1] "N/A"

$Production
[1] "N/A"

$Website
[1] "N/A"

$Response
[1] "True"

# Importing data from the web (Part 2)

## APIs & JSONs

### From JSON to R

`fromJSON()` can convert character strings that represent JSON data into a nicely structured R list.

In [8]:
install.packages("jsonlite")

package 'jsonlite' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'jsonlite'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\user\Anaconda3\Lib\R\library\00LOCK\jsonlite\libs\x64\jsonlite.dll to C:\Users\user\Anaconda3\Lib\R\library\jsonlite\libs\x64\jsonlite.dll: Permission denied"Warning message:
"restored 'jsonlite'"

The downloaded binary packages are in
	C:\Users\user\AppData\Local\Temp\Rtmps5vwUU\downloaded_packages

In [9]:
library(jsonlite)
wine_json <- '{"name":"Chateau Migraine", "year":1997, "alcohol_pct":12.4, "color":"red", "awarded":false}'
wine <- fromJSON(wine_json)
str(wine)

List of 5
 $ name       : chr "Chateau Migraine"
 $ year       : int 1997
 $ alcohol_pct: num 12.4
 $ color      : chr "red"
 $ awarded    : logi FALSE

### Quandl API

`fromJSON()` also works if you pass a URL as a character string or the path to a local file that contains JSON data.

In [10]:
quandl_data = fromJSON("https://www.quandl.com/api/v3/datasets/WIKI/FB/data.json?auth_token=i83asDsiWUUyfoypkgMz")
str(quandl_data)

List of 1
 $ dataset_data:List of 10
  ..$ limit       : NULL
  ..$ transform   : NULL
  ..$ column_index: NULL
  ..$ column_names: chr [1:13] "Date" "Open" "High" "Low" ...
  ..$ start_date  : chr "2012-05-18"
  ..$ end_date    : chr "2018-03-27"
  ..$ frequency   : chr "daily"
  ..$ data        : chr [1:1472, 1:13] "2018-03-27" "2018-03-26" "2018-03-23" "2018-03-22" ...
  ..$ collapse    : NULL
  ..$ order       : NULL

### OMDb API

In [12]:
url_sw4 <- "http://www.omdbapi.com/?apikey=72bc447a&i=tt0076759&r=json"
url_sw3 <- "http://www.omdbapi.com/?apikey=72bc447a&i=tt0121766&r=json"

# Import two URLs with fromJSON(): sw4 and sw3
sw4 <- fromJSON(url_sw4)
sw4
sw3 <- fromJSON(url_sw3)
sw3

# Print out the Title element of both lists
sw4$Title
sw3$Title


# Is the release year of sw4 later than sw3?
sw4$Year > sw3$Year

$Title
[1] "Star Wars: Episode IV - A New Hope"

$Year
[1] "1977"

$Rated
[1] "PG"

$Released
[1] "25 May 1977"

$Runtime
[1] "121 min"

$Genre
[1] "Action, Adventure, Fantasy, Sci-Fi"

$Director
[1] "George Lucas"

$Writer
[1] "George Lucas"

$Actors
[1] "Mark Hamill, Harrison Ford, Carrie Fisher, Peter Cushing"

$Plot
[1] "Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vader."

$Language
[1] "English"

$Country
[1] "USA"

$Awards
[1] "Won 6 Oscars. Another 52 wins & 28 nominations."

$Poster
[1] "https://m.media-amazon.com/images/M/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg"

$Ratings
                   Source  Value
1 Internet Movie Database 8.6/10
2         Rotten Tomatoes    92%
3              Metacritic 90/100

$Metascore
[1] "90"

$imdbRating
[1] "8.6"

$imdbVotes
[1] "1,188,658"

$imdbID
[1] "tt0076759"

$Type
[1] "movie"

$DVD
[1] "N/A"

$BoxOffice
[1] "N/A"

$Production
[1] "N/A"

$Website
[1] "N/A"

$Response
[1] "True"

$Title
[1] "Star Wars: Episode III - Revenge of the Sith"

$Year
[1] "2005"

$Rated
[1] "PG-13"

$Released
[1] "19 May 2005"

$Runtime
[1] "140 min"

$Genre
[1] "Action, Adventure, Fantasy, Sci-Fi"

$Director
[1] "George Lucas"

$Writer
[1] "George Lucas"

$Actors
[1] "Ewan McGregor, Natalie Portman, Hayden Christensen, Ian McDiarmid"

$Plot
[1] "Three years into the Clone Wars, the Jedi rescue Palpatine from Count Dooku. As Obi-Wan pursues a new threat, Anakin acts as a double agent between the Jedi Council and Palpatine and is lured into a sinister plan to rule the galaxy."

$Language
[1] "English"

$Country
[1] "USA"

$Awards
[1] "Nominated for 1 Oscar. Another 26 wins & 61 nominations."

$Poster
[1] "https://m.media-amazon.com/images/M/MV5BNTc4MTc3NTQ5OF5BMl5BanBnXkFtZTcwOTg0NjI4NA@@._V1_SX300.jpg"

$Ratings
                   Source  Value
1 Internet Movie Database 7.5/10
2         Rotten Tomatoes    80%
3              Metacritic 68/100

$Metascore
[1] "68"

$imdbRating
[1] "7.5"

$imdbVotes
[1] "686,556"

$imdbID
[1] "tt0121766"

$Type
[1] "movie"

$DVD
[1] "N/A"

$BoxOffice
[1] "N/A"

$Production
[1] "N/A"

$Website
[1] "N/A"

$Response
[1] "True"

[1] "Star Wars: Episode IV - A New Hope"

[1] "Star Wars: Episode III - Revenge of the Sith"

[1] FALSE

The fourth episode of the Star Wars saga was released before the third one!

In [13]:
json1 <- '[1, 2, 3, 4, 5, 6]'
fromJSON(json1)
json2 <- '{"a": [1, 2, 3], "b" : [4,5,6]}'
fromJSON(json2)

[1] 1 2 3 4 5 6

$a
[1] 1 2 3

$b
[1] 4 5 6

In [14]:
json1 <- '[[1,2], [3,4]]'
fromJSON(json1)

json2 <- '[{"a": 1, "b": 2}, {"a": 3, "b": 4}, {"a":5, "b":6}]'
fromJSON(json2)

     [,1] [,2]
[1,] 1    2
[2,] 3    4

  a b
1 1 2
2 3 4
3 5 6

In [15]:
url_csv <- "http://s3.amazonaws.com/assets.datacamp.com/production/course_1478/datasets/water.csv"

# Import the .csv file located at url_csv
water = read.csv(url_csv, stringsAsFactors=FALSE)

# Convert the data file according to the requirements
water_json=toJSON(water)

prettify(water_json)

[
    {
        "water": "Algeria",
        "X1992": 0.064,
        "X2002": 0.017
    },
    {
        "water": "American Samoa"
    },
    {
        "water": "Angola",
        "X1992": 0.0001,
        "X2002": 0.0001
    },
    {
        "water": "Antigua and Barbuda",
        "X1992": 0.0033
    },
    {
        "water": "Argentina",
        "X1992": 0.0007,
        "X1997": 0.0007,
        "X2002": 0.0007
    },
    {
        "water": "Australia",
        "X1992": 0.0298,
        "X2002": 0.0298
    },
    {
        "water": "Austria",
        "X1992": 0.0022,
        "X2002": 0.0022
    },
    {
        "water": "Bahamas",
        "X1992": 0.0013,
        "X2002": 0.0074
    },
    {
        "water": "Bahrain",
        "X1992": 0.0441,
        "X2002": 0.0441,
        "X2007": 0.1024
    },
    {
        "water": "Barbados",
        "X2007": 0.0146
    },
    {
        "water": "British Virgin Islands",
        "X2007": 0.0042
    },
    {
        "water": "Canada",
        "X1992": 0.0027,
        "X2002": 0.0027
    },
    {
        "water": "Cape Verde",
        "X1992": 0.002,
        "X1997": 0.0017
    },
    {
        "water": "Cayman Islands",
        "X1992": 0.0033
    },
    {
        "water": "Central African Rep."
    },
    {
        "water": "Chile",
        "X1992": 0.0048,
        "X2002": 0.0048
    },
    {
        "water": "Colombia",
        "X1992": 0.0027,
        "X2002": 0.0027
    },
    {
        "water": "Cuba",
        "X1992": 0.0069,
        "X1997": 0.0069,
        "X2002": 0.0069
    },
    {
        "water": "Cyprus",
        "X1992": 0.003,
        "X1997": 0.003,
        "X2002": 0.0335
    },
    {
        "water": "Czech Rep.",
        "X1992": 0.0002,
        "X2002": 0.0002
    },
    {
        "water": "Denmark",
        "X1992": 0.015,
        "X2002": 0.015
    },
    {
        "water": "Djibouti",
        "X1992": 0.0001,
        "X2002": 0.0001
    },
    {
        "water": "Ecuador",
        "X1992": 0.0022,
        "X1997": 0.0022,
        "X2002": 0.0022
    },
    {
        "water": "Egypt",
        "X1992": 0.025,
        "X1997": 0.025,
        "X2002": 0.1
    },
    {
        "water": "El Salvador",
        "X1992": 0.0001,
        "X2002": 0.0001
    },
    {
        "water": "Finland",
        "X1992": 0.0001,
        "X2002": 0.0001
    },
    {
        "water": "France",
        "X1992": 0.0117,
        "X2002": 0.0117
    },
    {
        "water": "Gibraltar",
        "X1992": 0.0077
    },
    {
        "water": "Greece",
        "X1992": 0.01,
        "X2002": 0.01
    },
    {
        "water": "Honduras",
        "X1992": 0.0002,
        "X2002": 0.0002
    },
    {
        "water": "Hungary",
        "X1992": 0.0002,
        "X2002": 0.0002
    },
    {
        "water": "India",
        "X1997": 0.0005,
        "X2002": 0.0005
    },
    {
        "water": "Indonesia",
        "X1992": 0.0187,
        "X2002": 0.0187
    },
    {
        "water": "Iran",
        "X1992": 0.003,
        "X1997": 0.003,
        "X2002": 0.003,
        "X2007": 0.2
    },
    {
        "water": "Iraq",
        "X1997": 0.0074,
        "X2002": 0.0074
    },
    {
        "water": "Ireland",
        "X1992": 0.0002,
        "X2002": 0.0002
    },
    {
        "water": "Israel",
        "X1992": 0.0256,
        "X2002": 0.0256,
        "X2007": 0.14
    },
    {
        "water": "Italy",
        "X1992": 0.0973,
        "X2002": 0.0973
    },
    {
        "water": "Jamaica",
        "X1992": 0.0005,
        "X1997": 0.0005,
        "X2002": 0.0005
    },
    {
        "water": "Japan",
        "X1997": 0.04,
        "X2002": 0.04
    },
    {
        "water": "Jordan",
        "X1997": 0.002,
        "X2007": 0.0098
    },
    {
        "water": "Kazakhstan",
        "X1997": 1.328,
        "X2002": 1.328
    },
    {
        "water": "Kuwait",
        "X1992": 0.507,
        "X1997": 0.231,
        "X2002": 0.4202
    },
    {
        "water": "Lebanon",
        "X2007": 0.0473
    },
    {
        "water": "Libya",
        "X2002": 0.018
    },
    {
        "water": "Malaysia",
        "X1992": 0.0043,
        "X2002": 0.0043
    },
    {
        "water": "Maldives",
        "X1992": 0.0004
    },
    {
        "water": "Malta",
        "X1992": 0.024,
        "X1997": 0.031,
        "X2002": 0.031
    },
    {
        "water": "Marshall Islands",
        "X1992": 0.0007
    },
    {
        "water": "Mauritania",
        "X1992": 0.002,
        "X2002": 0.002
    },
    {
        "water": "Mexico",
        "X1992": 0.0307,
        "X2002": 0.0307
    },
    {
        "water": "Morocco",
        "X1992": 0.0034,
        "X1997": 0.0034,
        "X2002": 0.007
    },
    {
        "water": "Namibia",
        "X1992": 0.0003,
        "X2002": 0.0003
    },
    {
        "water": "Netherlands Antilles",
        "X1992": 0.063
    },
    {
        "water": "Nicaragua",
        "X1992": 0.0002,
        "X2002": 0.0002
    },
    {
        "water": "Nigeria",
        "X1992": 0.003,
        "X2002": 0.003
    },
    {
        "water": "Norway",
        "X1992": 0.0001,
        "X2002": 0.0001
    },
    {
        "water": "Oman",
        "X1997": 0.034,
        "X2002": 0.034,
        "X2007": 0.109
    },
    {
        "water": "Peru",
        "X1992": 0.0054,
        "X2002": 0.0054
    },
    {
        "water": "Poland",
        "X1992": 0.007,
        "X2002": 0.007
    },
    {
        "water": "Portugal",
        "X1992": 0.0016,
        "X2002": 0.0016
    },
    {
        "water": "Qatar",
        "X1992": 0.065,
        "X1997": 0.099,
        "X2002": 0.099,
        "X2007": 0.18
    },
    {
        "water": "Saudi Arabia",
        "X1992": 0.683,
        "X1997": 0.727,
        "X2002": 0.863,
        "X2007": 1.033
    },
    {
        "water": "Senegal",
        "X1992": 0,
        "X2002": 0
    },
    {
        "water": "Somalia",
        "X1992": 0.0001,
        "X2002": 0.0001
    },
    {
        "water": "South Africa",
        "X1992": 0.018,
        "X2002": 0.018
    },
    {
        "water": "Spain",
        "X1992": 0.1002,
        "X2002": 0.1002
    },
    {
        "water": "Sudan",
        "X1992": 0.0004,
        "X1997": 0.0004,
        "X2002": 0.0004
    },
    {
        "water": "Sweden",
        "X1992": 0.0002,
        "X2002": 0.0002
    },
    {
        "water": "Trinidad and Tobago",
        "X2007": 0.036
    },
    {
        "water": "Tunisia",
        "X1992": 0.008,
        "X2002": 0.013
    },
    {
        "water": "Turkey",
        "X1992": 0.0005,
        "X2002": 0.0005,
        "X2007": 0.0005
    },
    {
        "water": "United Arab Emirates",
        "X1992": 0.163,
        "X1997": 0.385,
        "X2007": 0.95
    },
    {
        "water": "United Kingdom",
        "X1992": 0.0333,
        "X2002": 0.0333
    },
    {
        "water": "United States",
        "X1992": 0.58,
        "X2002": 0.58
    },
    {
        "water": "Venezuela",
        "X1992": 0.0052,
        "X2002": 0.0052
    },
    {
        "water": "Yemen, Rep.",
        "X1992": 0.01,
        "X2002": 0.01
    }
]